* {
    box-sizing: border-box;
}

@import "/components/button.css";

nav {
    position: fixed;
    
    z-index: 1;
    top: 0px;
    background-color: burlywood;
    width: 100%;
    font-size: large;
}

article {
    margin: 90px 30px 30px 30px;
    border: solid 2px;
    position: relative;
    text-align: center;
}

.wizardwandoff {
    position: absolute;
    right: 0;
    top: -2px;
    
}

.wizardwandon {
    position: absolute;
    right: 0;
    top: -2px;
}

h1 {
    text-align: center;
    margin: 0px;
    padding: 10px;
}

h2 {
    margin-top: 50px;
    margin-bottom: 25px;
    display: inline-block;
}

body {
    font-family: sans-serif;
    margin: 0px;
}

.tag {
    border: solid 1px;
    background-color: lightgray;
    margin-right: 5px;
    border-color: black;
}

.tags {
    display: flex;
    justify-content: flex-start;
    margin: 30px 5px 5px 5px;
}

footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    bottom: 0;
    background: burlywood;
}


